{% block body %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/accueilAdmin/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
{% endblock %}
<div class="banniere">
        <button class="action-button-out">
                    <i class="fas fa-sign-out-alt"></i>
                    <a href="{{ path('app_connexion') }}" class="link">Déconnexion</a>
                </button>
    <img src="{{ asset('../assets/images/inside.jpg') }}" alt="Bannière Administration">
</div>
<div class="admin-header">
    <span class="title">BIENVENUE DANS L'ADMINISTRATION</span>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">Gestion des aéroports</div>
        <div class="card-content">
            <a href="{{ path('app_admin_aeroport') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_aeroport_new') }}">AJOUTER</a>
            
        </div>
    </div>
    <div class="card">
        <div class="card-header">Gestion de nos destinations</div>
        <div class="card-content">
            <a href="{{ path('app_admin_ville_index') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_ville_new') }}">AJOUTER</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Gestion des réservations</div>
        <div class="card-content">
            <a href="{{ path('app_admin_reservation') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_reservation_new') }}">AJOUTER</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Gestion des avions</div>
        <div class="card-content">
             <a href="{{ path('app_admin_avion') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_avion_new') }}">AJOUTER</a>
     
        </div>
    </div>
    <div class="card">
        <div class="card-header">Gestion des vols</div>
        <div class="card-content">
            <a href="{{ path('app_admin_vol') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_vol_new') }}">AJOUTER</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">Gestion des utilisateurs</div>
        <div class="card-content">
            <a href="{{ path('app_admin_utilisateur') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_utilisateur_new') }}">AJOUTER</a>
        </div>
    </div>
</div>
{% endblock %}
