



{% block body %}





{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/accueilAdmin/style.css') }}">
    
{% endblock %}
<div class="banniere">
    <img src="{{ asset('../assets/images/banniereAccueilAdmin.jpg') }}" alt="Bannière Administration">
</div>
<div class="admin-header">
    BIENVENUE DANS L'ADMINISTRATION


</div>
<div class="container">
    <div class="card">
        <div class="card-header">AÉROPORT</div>
        <div class="card-content">
            <a href="{{ path('app_admin_aeroport') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_aeroport_new') }}">AJOUTER</a>
            
        </div>
    </div>
    <div class="card">
        <div class="card-header">VILLE</div>
        <div class="card-content">
            <a href="{{ path('app_admin_ville_index') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_ville_new') }}">AJOUTER</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">RESERVATION</div>
        <div class="card-content">
            <a href="{{ path('app_admin_reservation') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_reservation_new') }}">AJOUTER</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">AVION</div>
        <div class="card-content">
             <a href="{{ path('app_admin_avion') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_avion_new') }}">AJOUTER</a>
     
        </div>
    </div>
    <div class="card">
        <div class="card-header">VOL</div>
        <div class="card-content">
            <a href="{{ path('app_admin_vol') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_vol_new') }}">AJOUTER</a>
        </div>
    </div>
    <div class="card">
        <div class="card-header">UTILISATEUR</div>
        <div class="card-content">
            <a href="{{ path('app_admin_utilisateur') }}">CONSULTER | MODIFIER | SUPPRIMER</a>
            <a href="{{ path('app_admin_utilisateur_new') }}">AJOUTER</a>
        </div>
    </div>
</div>
{% endblock %}
