{% extends 'base.html.twig' %}

{% block title %}Réserver{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/vol/style.css') }}">
	<link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block content %}
<div class="dropdown-container">
    <div class="table-container">
        <h1 class="table-title">Nos Destinations</h1>
        <table class="table striped-table">
            <thead>
                <tr>
                    <th>
                       <i class="fa-solid fa-plane-departure icon-departure"></i>  De 
                    </th>
                    <th>
                        <i class="fa-solid fa-plane-arrival icon-arrival"></i>  À
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for vol in vols %}
                <tr>
                    <td>
                        {{ vol.aeroportDepart.nomAeroport }} -
                        <strong>{{ vol.aeroportDepart.ville.nom }}, {{ vol.aeroportDepart.ville.pays }}</strong>
                    </td>
                    <td>
                        {{ vol.aeroportArrive.nomAeroport }} -
                        <strong>{{ vol.aeroportArrive.ville.nom }}, {{ vol.aeroportArrive.ville.pays }}</strong>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

