{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/aeroport/style.css') }}">
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

{% block content %}
<div class="dropdown-container">
    <div class="table-container">
        <a href="{{ path('app_admin_accueil') }}" class="btn btn-secondary">Accueil</a>
        <h1 class="table-title">Aéroports</h1>
        <table class="table striped-table">
            <thead>
                <tr>
                    <th>
                        <i class="fa-solid fa-plane-departure icon-airport"></i> Nom de l'Aéroport
                    </th>
                    <th>
                        <i class="fa-solid fa-location-dot icon-location"></i> Ville
                    </th>
                    <th>
                        <i class="fa-solid fa-flag icon-country"></i> Pays
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for aeroport in aeroports %}
                <tr>
                    <td>
                        {{ aeroport.nomAeroport }}
                    </td>
                    <td>
                        {{ aeroport.ville.nom }}
                    </td>
                    <td>
                        {{ aeroport.ville.pays }}
                    </td>
                    <td>
                        <a href="{{ path('app_admin_aeroport_edit', { 'id': aeroport.id }) }}" class="btn btn-warning btn-sm btn-custom">
                            Modifier
                        </a>
                        <form action="{{ path('app_admin_aeroport_delete', { 'id': aeroport.id }) }}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm btn-custom">
                                Supprimer
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
